* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hachi Maru Pop", cursive;
}

body {
  background: rgba(78, 141, 124, 1);
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 500px;
  min-height: 90vh;
  background: #e7e7de;
  text-align: center;
  margin: 25px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 25px 10px;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-input {
  flex-grow: 1;
  padding: 14px 5px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #7b9473;
  outline: none;
  background: transparent;
  font-weight: 700;
}

.todo-input::placeholder {
  font-size: 18px;
  color: #e2e2e2;
}

.todo-button {
  padding: 10px;
  font-weight: 800;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(124, 148, 115, 1) 0%,
    rgba(78, 141, 124, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
.formWrapper {
  width: 90%;
  margin: 15px auto;
}

.form {
  display: flex;
}

.todo-input.edit {
  border: 2px solid #045762;
}

.todo-button.edit {
  background: #045762;
  padding: 10px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  word-break: break-all;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 178, 107, 1) 0%,
    rgba(255, 213, 107, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(255, 213, 107, 1) 0%,
    rgba(147, 155, 98, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(147, 155, 98, 1) 0%,
    rgba(255, 123, 84, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(255, 123, 84, 1) 0%,
    rgba(255, 178, 107, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
